.countDownTimer #afterTime #counter {
  color: white;
  background-color: var(--BajaRed);
}

.countDownTimer #counter.dangerDays {
  background-color: var(--BajaRed);
  color: white;
}

.countDownTimer #counter {
  display: flex;
  flex-flow: row wrap !important;
  padding: 0.5svh 1svw;
  text-align: center;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 1rem;
  justify-content: space-evenly;
  font-size: x-large;
  color: black;
  column-gap: 10px;
}

.countDownTimer #counter div {
  display: flex;
  flex-flow: row wrap !important;
  padding: 0px;
  column-gap: 10px;
}

.countDownTimer #counter div p {
  padding: 0px;
}

.countDownTimer #counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  text-decoration: none;
  color: #000;
}

.countDownTimer #counter .countdown {
  line-height: 1.25svb;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.countDownTimer #counter .countdownDanger {
  color: var(--BajaRed);
}

.countDownTimer a {
  color: var(--BajaRed);
  /* text-decoration: none; */
  text-align: center;
  padding: 2svh 0svw;
}

.countDownTimer a:hover {
  color: var(--BajaHover);
}

.countDownTimer {
  max-width: 525px !important;
  margin: 0px !important;
  padding: 0px !important;
}

@media only screen and (max-width: 420px) {
  .countDownTimer #counter #MiddleCounter {
    visibility: hidden; /* keeps space in layout */
  }

  .countDownTimer #counter #EndCounter {
    visibility: visible !important;
  }
}

@media only screen and (max-width: 600px) {
  .countDownTimer #counter #EndCounter {
    visibility: hidden; /* keeps space in layout */
  }
}
