:root {
	--tableBackground: white;
	--sponsorBorderWidth: 2px;
	--sponsorBorderStyle: solid;
	--sponsorBorderColour: black;
	--sponsorBorder: var(--sponsorBorderWidth) var(--sponsorBorderStyle)
		var(--sponsorBorderColour);
}

#OurSponsors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: gray;
	padding-left: 2%;
	padding-right: 2%;
}

#BecomeASponsors {
	background-color: white;
}

#BecomeASponsors div {
	display: flex;
	flex-direction: column;
	padding-bottom: 4svh;
	margin-left: 1svw;
	margin-right: 1svw;
}

#BecomeASponsors div div {
	display: flex;
	flex-direction: row;
	border-bottom: none;
	padding: 0px;
}

#BecomeASponsors a {
	color: inherit;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: scale 0.3s;
	border-radius: 5px;
	margin-left: 1svw;
	margin-right: 3svw;
	width: fit-content;
}

#BecomeASponsors a:hover {
	cursor: pointer;
	scale: 1.05;
}

#BecomeASponsors div a img {
	height: 40svh;
	width: auto;
}

#BecomeASponsors img {
	height: auto;
	width: 60%;
}

#BecomeASponsors table {
	background-color: white;
}

#BecomeASponsors table caption {
	background-color: red;
	color: white;
	text-align: start;
	padding-left: 4svw;
	font-size: larger;
}

#BecomeASponsors table thead {
	background-color: black;
	color: white;
	padding: 10px;
}

.evenRow {
	background-color: lightgrey;
}

.oddRow {
	background-color: whitesmoke;
}

#Sponsor {
	background-color: white;
	padding-bottom: 3svh;
}

#SponsorEnd {
	text-align: end;
}

#OurSponsors h1 {
	position: relative;
	text-align: left;
	border-bottom: var(--sponsorBorder);
	border-top: var(--sponsorBorder);
	width: fit-content;
	padding-top: 2svh;
	padding-bottom: 2svh;
}

#OurSponsors #h1Exception {
	border-top: none;
}

/* this hurt me  but we now have a border at the side*/
#sideBorder {
	display: flex;
	flex-direction: row;
	padding-top: 2svh;
	padding-bottom: 2svh;
	margin-top: 1svh;
	margin-bottom: 3svh;
	border-bottom: var(--sponsorBorder);
	align-items: center;
}

#sideBorder h1 {
	padding-right: 2svw;
	margin: 0px;
	width: fit-content;
	border: none;
}

#sideBorder div {
	background-color: var(--sponsorBorderColour);
	flex: 1;
	height: var(--sponsorBorderWidth);
}

#Sponsor .Sponsors h1 {
	width: 100%;
	border: none;
}

.Sponsors {
	background-color: inherit;
}

.Sponsors a {
	display: flex;
	flex-direction: column;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	background-color: whitesmoke;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: scale 0.3s;
}

.Sponsors a:hover {
	cursor: pointer;
	scale: 1.05;
}

.Sponsors a div {
	display: flex;
	flex-direction: row;
	height: inherit;
	width: inherit;
}

.Sponsors a div div {
	display: flex;
	flex-direction: column;
	padding-left: 5svw;
}

.Sponsors a h3 {
	display: flex;
	width: fit-content;
	border-bottom: var(--sponsorBorder);
}

.Sponsors a img {
	max-height: 24svh;
	width: 24svw;
	padding-top: 1svh;
	padding-bottom: 1svh;
}

.sponsorCenter {
	display: flex;
	justify-content: center;
}

.sponsorGridContainer {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 20px;
}

.sponsorGridItem {
	background-color: aqua;
	width: calc(100%- 20px);
	height: 100%;
}

.sponsorGridContainer .sponsorGridItem div div {
	flex: 1;
	padding-left: 1svw;
}

.sponsorGridItem h3 {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.sponsorGridItem {
	grid-column: span 1;
}
