#OurSponsors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: gray;
	padding-left: 2%;
	padding-right: 2%;
}

#Sponsor {
	background-color: white;
}

#SponsorEnd {
	text-align: end;
}

.SponsorsTitle {
	text-align: left;
	border-bottom: 2px solid black;
}

.Sponsors {
	background-color: inherit;
}

.Sponsors a {
	display: flex;
	flex-direction: column;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	background-color: whitesmoke;
}

.Sponsors a div {
	display: flex;
	flex-direction: row;
}

.Sponsors a div h4 {
	width: 30%;
}

.Sponsors a div img {
	max-height: 8rem;
	max-width: 70%;
}

.Sponsors a div p {
	padding: 2rem;
	padding-top: 5px;
	padding-bottom: 5px;
}
