header {
	display: flex;
	flex-direction: column;
	margin: 1%;
	margin-top: 0%;
}

#logo {
	width: 10%;
	height: 10%;
	background-color: white;
}

/* not sure what these two are for */
#title {
	background-color: blueviolet;
}
.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: aqua;
}
