header {
	display: flex;
	flex-direction: row;
	margin: 1%;
	margin-top: 1svh;
	padding-right: 0.5svw;

	align-items: center;
	justify-content: space-between;
	background-color: #1f1f1f;
}

header a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

header div button {
	cursor: pointer;
	height: 3rem;
	width: 3rem;
	justify-content: end;
	background-color: inherit;
	border: solid 2px gray;
	border-radius: 1rem;
}

header div button img {
	height: 2rem;
}

header div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#logo {
	height: 10svh;
	/* width: 10svw; */
	padding: 0.15rem;
	margin-left: 3svw;
}

/* naviagation section */

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	margin: 0px;
	padding: 0px;
	column-gap: 2svw;
}

nav a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	background-color: #1f1f1f;
	color: whitesmoke;

	font-size: larger;

	/* border-left: solid 2px white; */
}
/* removes first divider */
/* can be removed if no borders from above */
nav a:first-child {
	border-left: none;
}

nav a li:hover {
	color: #a80029;
}

/* correct colour of links in dark mode */
.darkmode nav a li::hover {
	filter: hue-rotate(180deg);
}

/* creates drop downs */
/* makes it so that the tags look the same whist having removing browser error */
.DropDownHeader {
	display: inline-block;
	background-color: white;
	padding: 0.5rem;
	border: solid 1px gray;
}

.DropDownHeader:hover {
	background-color: gray;
}

.Hide {
	display: none;
}

.DropDown {
	position: relative;
}

.DropDown a {
	cursor: default;
}

/* makes dropdown visible */
.DropDown:hover .Hide {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
}

/* For Banner */

#BannerHeader {
	height: 100svh;
	width: 100%;
	display: flex;

	/* bebug border, use margin to advantage, may cause error later */
	/* border-bottom: solid 1px black; */
}

:root {
	--fade-starts-at-bottom: 80%;
	--fade-starts-at-top: 96%;
	--banner-text-pos-left: 15svw;
	--banner-text-background: white;
}

#BannerHeader img {
	position: absolute;
	height: 100svh;
	width: inherit;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;

	z-index: -2;

	-webkit-mask-image: linear-gradient(
		to bottom,
		black var(--fade-starts-at-bottom),
		transparent
	);
	mask-image: linear-gradient(
		to bottom,
		black var(--fade-starts-at-bottom),
		transparent
	);
}

/* used to postiion title and sub title */
#BannerHeader div {
	margin-top: 15%;
}

#BannerHeader h1 {
	display: flex;
	width: fit-content;
	margin: 0px;
	margin-left: var(--banner-text-pos-left);

	font-size: 80px; /* todo make larger */
	font-weight: normal;

	background-color: var(--banner-text-background);
}

#BannerHeader h2 {
	display: flex;
	width: fit-content;

	margin-left: var(--banner-text-pos-left);

	font-size: xx-large;
	font-weight: normal;

	background-color: var(--banner-text-background);
}

/* for dark mode */

.darkmode {
	filter: invert(95%) hue-rotate(180deg);
	background-color: white;
}

#root.darkmode #logo.logoAfterDark {
	filter: hue-rotate(180deg);
}

#root.darkmode #darkModeToggle {
	filter: hue-rotate(180deg);
}
