#Contact a {
	text-decoration: none;
	color: inherit;
}

#Contact ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#Contact h1,
#Contact h4,
#Contact p {
	margin: 1svh 0svw;
	text-wrap: wrap;
}

#Contact > div:nth-child(1) {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	row-gap: 2svh;
}

#Contact > div:nth-child(1) {
	flex-direction: row;
	column-gap: 2svw;
	align-items: center;
	background: var(--BajaBlack);
	color: white;
	padding: 2svh 0svw;
}

#Contact div:nth-child(1) div:first-child {
	flex-direction: row;
	margin-left: 4svw;
}

#Contact div:nth-child(1) div:last-child {
	flex-direction: column;
	margin: 0px;
	margin-left: auto;
	margin-right: 16svw;
	font-size: 30px;
}

#Contact div:nth-child(1) div:last-child h1 {
	margin: 0px;
	font-size: 40px;
	width: inherit;
}

#Contact div:nth-child(1) img {
	width: 300px;
	height: 600px;
}

@media only screen and (max-width: 1025px) {
	#Contact > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
		display: none;
	}

	#Contact > div:nth-child(1) > div:nth-child(1) > img:nth-child(2) {
		display: none;
	}

	#Contact div:nth-child(1) div:last-child {
		font-size: large;
	}
}

@media only screen and (max-width: 550px) {
	#Contact > div:nth-child(1) > div:nth-child(1) > img:nth-child(3) {
		display: none;
	}
}
