.HomePageLayout {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 4svh;
	padding: 4svh 0px;
	/* padding: 0svh 15svw; */
	/* width: 70svw; */
	padding-top: 2svh;
	background-color: #1f1f1f;
	color: white;
}

.HomePageLayout div {
	display: flex;
	column-gap: 4svw;
	padding: 0svh 1svw;
}

.HomePageLayout div img {
	border-radius: 1rem;
	/* height: clamp(200px, 100%, 55svh); */
	/* height: 100%; */
	/* max-width: 40%; */
	height: 52svh;

	align-self: center;
}

.HomePageLayout a {
	color: inherit;
	border-radius: 1rem;
	padding: 10px;
	margin: 0svh 8svw;
	font-size: large;
	text-decoration: none;
	text-align: center;
	margin-top: 2svh;
	background-color: #a80029;
}

.HomePageLayout a:hover {
	background-color: rgba(128, 128, 128, 0.4);
}

.HomePageLayout h2 {
	border-bottom: solid 3px white;
	padding-bottom: 0.5svh;
	font-size: 36px;
	margin-bottom: 2svh;
}

.HomePageLayout p {
	padding: 0px;
	margin: 1svh 0svw;
	font-size: larger;
}

.HomePageLayout div div {
	display: flex;
	flex-direction: column;
	/* width: 50%; */
	max-width: 700px;
	padding: 0px 1svw;
}

#HomeSponsors {
	display: flex;
	flex-direction: column;

	border-radius: 15px;
	border: solid 2px white;

	padding: 30px;
	max-width: 800px;
}

#HomeSponsors h2 {
	margin-top: 0px;
}

#HomeSponsors div {
	width: inherit;
}

#HomeSponsors div div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: inherit;

	justify-content: center;
	padding: 0px;
	row-gap: 2svh;
	column-gap: 6svw;
}

#HomeSponsors div div div {
	display: flex;
	flex-direction: column;
	row-gap: 0px;
	align-items: center;
	text-align: center;
}

#HomeSponsors div div div img {
	border-radius: 1rem;
	min-height: 0px;
	align-self: center;
	min-width: 200px;
	max-width: inherit;
	max-height: 80px;
}

#HomeSponsors div div div h3 {
	margin: 1svh 0svw;
}

#HomeSponsorLinks {
	display: flex;
	flex-direction: row;
	width: inherit;

	justify-content: center;
	padding-top: 2svh;
}

#HomeSponsorLinks a {
	margin-top: auto;
	padding: 1svh 4svw;
	/* padding-left: 5svw; */
	/* padding-right: 5svw; */
	margin: 0px 2svw;
	width: 8svw;
	text-wrap: nowrap;
	text-align: center;
}

#HomeBottomGallery {
	width: 70svw;

	height: 60svh;
}

#HomeBottomGallery img {
	width: inherit;
	height: inherit;
}
