.slideShow figure {
	display: none;
	position: relative;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.slideShow .next,
.slideShow .prev {
	cursor: pointer;
	position: relative;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.slideShow .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.slideShow .next:hover,
.slideShow .prev:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.slideShow figure p {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: relative;
	top: 0;
}

.slideShow figure figcaption {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: relative;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.slideShow .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slideShow .active,
.slideShow .dot:hover {
	background-color: #717171;
}
